
/* reset spacing */
*{margin:0;padding:0;font-family:"Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;}

body {
	background:#cccccc;
	text-align:left;
	font-size:14px;
	font-family:georgia, 'time new romans', serif;
	margin:0 auto;
	padding:0;
}

#page{background:transparent url(images/header.jpg) no-repeat center top;}

/* (max. possible width is limited by design, 1735px)  */
.page-content{margin:0 auto;}

/* fluid width page */
body.fluid .page-content{
  padding:0 10px;
  width: auto;
}

/* fixed width page - 960gs */
body.fixed .page-content{
  width:940px;
}

/*** GENERAL ELEMENTS ***/

/* links */
a{color:#0071bb;outline:none;}
a:hover{
	color:#57B7DD;
	text-decoration:none;
}

/* headings */
h1{font-weight:normal;font-size:270%;letter-spacing:-.04em;line-height:100%;margin:.8em 0 .2em;letter-spacing:-0.04em;}
h2{font-weight:normal;font-size:200%;letter-spacing:-.04em;line-height:110%;margin:.7em 0 .2em;letter-spacing:-0.03em;}
h3{font-size:160%;font-weight:normal;letter-spacing:-.04em;line-height:110%;margin:.7em 0 .2em;letter-spacing:-0.02em;}
h4{font-size:140%;font-weight:bold;margin:.7em 0 .2em;letter-spacing:-0.02em;}
h5{font-family:"Palatino Linotype", Georgia, Serif;font-size:140%;font-weight:bold;margin:.5em 0 .2em;letter-spacing:-0.02em;}
h6{font-size:120%;font-weight:normal;text-transform:uppercase;margin:.5em 0 .2em;}




/* forms */
input,textarea,select{font-size:100%;margin:.2em 0;}
input,textarea{padding:.2em .4em;margin:0 2px 4px 2px;}
input.radio,input.checkbox{background-color:#fff;padding:2px;}
textarea{width:90%;}
form label{font-weight:normal;margin:0 2px;}
form .row label{display:block;margin:10px 2px 0 2px;}
fieldset{padding:.8em;border:1px solid #ddd;background-color:#fff;margin:1em 0;}
legend{padding:2px 15px 10px;text-transform:uppercase;font-style:italic;font-size:115%;background-color:#fff;border-top:1px solid #ddd;}

/* lists */
ul,ol{margin:.4em 0 1em;line-height:150%;}
ul li,ol li{list-style-position:outside;margin-left:2.5em;}
dl{padding:.3em 0 .8em;}
dt{font-weight:bold;text-decoration:underline;}
dd{}

/* other */
p{margin:.6em 0 .3em;line-height:150%;}
img{border:0;}
hr{color:#b4aca1;background-color:#b4aca1;border-bottom:1px solid #f6f4eb;}
small{font-size:80%;}
pre{overflow:auto;white-space:pre-wrap;/* <- css3 */white-space:0;/* <- ff */font-size:12px;font-family:"Courier New", Courier, "Lucida Console", Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Bitstream Vera Sans Mono";background-color:#fff;padding:.4em;margin:1em 0;}
pre{width:80%;overflow:hidden;border:1px solid #ddd;background-color:#fff;padding:.8em;margin:1em 0;}
blockquote{margin:1em 25% 1em 0;min-height:40px;padding:.6em 1em .6em 2.4em;border:1px dotted #ddd;font-style:italic;color:#474747;background:#fff url(images/blockquote.png) no-repeat 4px top;}
blockquote p{padding:8px;margin:2px;}
blockquote blockquote{margin:1em 0 1em;}


#header{display:block;position:relative;z-index:5;}

#header p.nav-extra{position:absolute;top:-25px;z-index:10;right:10px;}
#header a.nav-extra{width:64px;height:36px;display:block;float:right;margin-left:6px;}
#header a.nav-extra span{display:none;}
#header a.nav-extra.rss{background:transparent url(images/nav-icons.png) no-repeat right top;}
#header a.twitter{background:transparent url(images/nav-icons.png) no-repeat left top;}

/*** LOGO & HEADLINE ***/

#site-title{padding-top:170px;}



/*** TOP NAVIGATION ***/

ul#navigation{background:#eee url(images/nav.png) repeat-x left top;width:100%;padding:0;margin:0;list-style-type:none;position:relative;z-index:15;}
ul#navigation li{display:block;position:relative;float:left;list-style-type:none;padding:0 1px 0 0;margin:0;background:transparent url(images/nav-div.png) no-repeat right top;}
ul#navigation li a{min-height:32px;display:block;font-weight:bold;font-size:115%;text-transform:uppercase;text-decoration:none;text-shadow:#fff 1px 1px 1px;text-align:center;color:#4e4e4e;padding:0 13px 0 11px;position:relative;line-height:31px;}
ul#navigation li a.home span.title{background:transparent url(images/icons.png) no-repeat 0px -756px;padding-left:22px;}
ul#navigation li.active a.home span.title{background-position:0px -710px;}
ul#navigation li a:hover,ul#navigation li:hover a{background-color:#fff;}
ul#navigation li.active a:hover,ul#navigation li.active:hover a{background-color:#000;}
ul#navigation li a span.title{display:block;padding:0;}
ul#navigation li a span.pointer{display:none;}

ul#navigation li.active a span.pointer,
ul#navigation li.active-parent a span.pointer,
ul#navigation li.active-ancestor a span.pointer
{position:absolute;width:100%;height:7px;bottom:-7px;left:0;display:block;background:transparent url(images/nav-pointer.png) no-repeat center top;}

ul#navigation li.active a,
ul#navigation li.active-parent a,
ul#navigation li.active-ancestor a
{background:#000 url(images/nav-active.png) no-repeat left top;color:#dedede;text-shadow:#000 1px 1px 1px;}

ul#navigation li a span.arrow{display:none;}

/* fade on mouse out */
ul#navigation li a.fadeThis{position:relative;z-index:1;}
ul#navigation li a.fadeThis span.hover{position:absolute;top:0;left:0;display:block;height:100%;width:100%;background-color:#fff;z-index:-1;margin:0;padding:0;}

ul#navigation li.active a.fadeThis span.hover,
ul#navigation li.active-parent a.fadeThis span.hover,
ul#navigation li.active-ancestor a.fadeThis span.hover
{background:none;}

ul#navigation li.active a.fadeThis span.hover
{background-color:transparent;}

/* submenus */
ul#navigation ul li a span.pointer{display:none !important;}
ul#navigation ul{list-style-type:none;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;position:absolute;display:none;width:250px;top:32px;left:0;margin:0;padding:4px;line-height:normal;background-color:#fff;-moz-box-shadow:0px 8px 14px rgba(0,0,0,0.3);-moz-border-radius-bottomright:8px;-moz-border-radius-bottomleft:8px;-webkit-box-shadow:0px 8px 14px rgba(0,0,0,0.3);-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;box-shadow:0px 8px 14px rgba(0,0,0,0.3);border-bottom-right-radius:8px;border-bottom-left-radius:8px;}

ul#navigation li.active ul,
ul#navigation li.active-parent ul,ul#navigation li.active-ancestor ul
{background-color:#000;border-bottom:1px solid #333;border-left:1px solid #333;border-right:1px solid #333;}

ul#navigation li.active li a,
ul#navigation li.active-parent li a,
ul#navigation li.active-ancestor li a
{background:none;}

ul#navigation ul li{float:none;margin:0;background:none;}
ul#navigation ul li a span.title{padding-left:10px;}
ul#navigation ul li a{min-height:1px;height:auto;padding:8px 14px 8px 8px;margin:0;text-align:left;text-transform:none;line-height:125%;}
ul#navigation li.active ul a{background:none;}
ul#navigation ul li a:hover{background-color:#333;color:#fff;text-shadow:#333 1px 1px 1px;}
ul#navigation ul li.active a{color:#f8b013;}
ul#navigation ul li.active li a{color:#dedede;}
ul#navigation ul li a span.title{padding:0;}
ul#navigation ul ul{left:250px;top:0;border-top:1px solid #ccc;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
ul#navigation li:hover ul ul,ul#navigation li:hover ul ul ul,ul#navigation li:hover ul ul ul ul{display:none;}
ul#navigation li:hover ul,ul#navigation li li:hover ul,ul#navigation li li li:hover ul,ul#navigation li li li li:hover ul{display:block;}
ul#navigation li li a span.arrow{display:block;position:absolute;right:6px;top:0;line-height:32px;}


/* fade on mouse out */
ul#navigation li li a.fadeThis span.hover,
ul#navigation li.active li a.fadeThis span.hover,
ul#navigation li.active-ancestor li a.fadeThis span.hover{background-color:#333;}


/*** FEATURED CONTENT ***/



/*** MAIN LAYOUT ***/

.shadow-left{background:url(images/shadow.png) no-repeat left bottom;}
.shadow-right{background:url(images/shadow.png) no-repeat right bottom;padding-bottom:32px;position:relative;}
#main{background:#fff}
#main-inside{background:transparent url(images/main-left.jpg) no-repeat left top;;}



#sidebar .blocks, #sidebar2 .blocks{padding:1em;margin:0;list-style-type:none;}

li.block{list-style-type:none;padding:0;margin:0;}
li.block, .arbitrary-block{margin:1em 0 2.6em;position:relative;}

.block ul{list-style-type:none;margin:0 0 .4em 0;}
.block li{background:transparent url(images/icons.png) no-repeat 4px -816px;margin:0;padding:0 0 0 18px;}
.block li:hover{background-position:4px -1005px;}
.block li li{margin-left:.4em;}





h1.title{
  font-weight: bold;
  font-size: 150%;
  text-shadow: #fff 1px 1px 1px;
  margin: .5em 0 .3em 0;
  padding: 0;
}

/* post */
.post, .page{margin:1em 0 2em 0;padding:0 0 .6em;display:block;background:transparent url(images/dot.gif) repeat-x left bottom;}
.post.preview-title{background:none;}
body.single-page .page, body.single-post .post{background: none;margin:0;padding:0;}


h2.title{
  font-weight: bold;
  font-size: 380%;
  margin:0 0 .2em 0;
  padding:.2em 0 0 0;
  text-shadow: #fff 1px 1px 1px;
}

h2.title a{text-decoration:none;color:#4e4e4e;}
h2.title a:hover{
	color:#3366CC;
	text-decoration:none;
}

h3.title{font-size:140%;font-weight:bold;margin:1em 0 0 0;padding:0;}
h3.title a{text-decoration:none;color:#4e4e4e;}
h3.title a:hover{
	color:#3366CC;
	text-decoration:none;
}






/* menu list */
.box ul.menuList,.box ul.menuList li{margin:0;padding:0;list-style-type:none;font-size:100%;}
.box ul.menuList{background:transparent url(images/dot2.gif) repeat-x left bottom;margin-bottom:.6em;padding-bottom:2px;}
.box ul.menuList li{background:transparent url(images/dot2.gif) repeat-x left top;display:block;padding:2px 0 0px;}
.box ul.menuList li li{background-image:none;}
.box ul.menuList li a{display:block;text-decoration:none;padding:3px 25px 3px 0;color:#ccc;}
.box ul.menuList.categories li a{padding-right:25px;} /* rss icon space */
.box ul.menuList li a:hover{color:#fff;}
.box ul.menuList li a span.entry{background:transparent url(images/icons.png) no-repeat 4px -816px;padding-left:18px;display:block;font-weight:bold;}
.box ul.menuList li a span.entry .details{font-weight:normal;font-style:italic;display:block;}
.box ul.menuList li a span.entry .details.inline{display:inline;}
.box ul.menuList li a:hover span.entry{background-position:4px -1005px;}
.box ul.menuList li li a span.entry{background:none;}
.box ul.menuList .fadeThis{position:relative;z-index:1;}
.box ul.menuList span.hover{position:absolute;top:0;left:0;display:block;height:100%;width:100%;background-color:#747474;z-index:-1;padding:0!important;}

/* sub menus */
.box ul.menuList ul{margin:0 0 1em 0;padding:0;}
.box ul.menuList li li{margin:0 0 0 1.8em;padding:0;float:none;background:none;width:auto;}
.box ul.menuList li li li{margin-left:1em;}
.box ul.menuList li li a{text-transform:none;padding:0;font-size:100%;font-style:italic;}
.box ul.menuList li li a:hover{background:none;}


.box ul.menuList.recentcomm li a span.entry,.box ul.menuList.recentcomm li a:hover span.entry{background:none;padding-left:0px;margin-left:40px;}
.box ul.menuList.recentcomm li .avatar{
  float: left;
  margin: 2px 4px 2px 0;
}


/*** FOOTER ***/

#footer{
  background: #fff;
}



/* copyright & other info */
#footer #copyright{display:block;padding:1em 2em;text-align:center;border-top:1px solid #ddd;line-height:200%;}

/*** BLOCKS ***/

/* info */
.block-info{font-size: 150%;font-weight:bold;text-align:center;padding: .3em .7em;background-color:#eee;text-shadow:#fff 1px 1px 1px;border:1px solid #fff;}




/*** MISC ***/



/* page controls */
#pageControls{position:absolute;right:0;top:0;width:25%;height:100px;z-index:4;}
#pageControls a{background:transparent url(images/page-controls.png) no-repeat right top;position:absolute;width:22px;height:21px;right:10px;top:10px;cursor:pointer;z-index:15;}
#pageControls a:hover{background-position:right bottom;}
#pageControls a.fontSize{background-position:left top;right:36px;}
#pageControls a.fontSize:hover{background-position:left bottom;}


/* other */
.clearFieldBlurred{color:#ccc;font-style:italic;font-weight:normal;}
.clearFieldActive{color:#4e4e4e;font-weight:bold;}
.error{
	color:#3366CC;
}
.success{color:#a0c207;}
.divider{padding:1em 0 0 0;display:block;background:transparent url(images/dot.gif) repeat-x left bottom;height:2px;min-height:2px;}
.altText{font-style:italic;}
.highlight{background-color: #FFE4B5;}


/* clearfix */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}

img.alignleft,img.alignright{padding:3px;margin-top:4px;margin-bottom:4px;border-radius:4px;}
.alignleft{float:left;margin-right:8px;}
.alignright{float:right;margin-left:8px;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;text-align:center;}
.bubble-trigger{position:relative;}
.bubble{display:none;position:absolute;z-index:10;}

/* jquery caption - to do */
.imgCaption{position:relative;overflow:hidden;padding:0;border:0;margin-top:8px;margin-bottom:8px;display:inline-block;}
.imgCaption p{position:absolute;background-color:#000;color:#fff;width:100%;font-weight:bold;padding:0;margin:0;line-height:150%;text-align:center;border:0;z-index:10;left:0;opacity:0.6;}
.imgCaption p span{ padding:12px;display:block;}


.wp-caption{border: 1px solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;margin-top:10px;margin-bottom:10px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.wp-caption img{margin:0;padding:0;border:0 none;}
.wp-caption-dd{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0;}

.webshot{position:absolute;left:-20000px;background-color:rgba(0,0,0,0.4);padding:5px;z-index:10;display:none;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.4);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.4);box-shadow:0px 0px 8px rgba(0,0,0,0.4);}
.webshot img{margin:0;padding:0;}


/* smiley adjustment */
img.wp-smiley{vertical-align:-15%;}






/* full width if there's only one widget in the footer */
#footer ul.slides li.slide .slide-content ul.blocks.widgetcount-1 div.form{width:50%;}
div.form .error{font-weight:bold;}
div.form fieldset{margin:0;padding:0;background:transparent;border:0;}

.video-js-box { 
				width: 825px;
				margin: 30px;
                border: 10px solid #FFFFFF;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                -moz-box-shadow: 0 0 40px #BEBEBE;
                -webkit-box-shadow: 0 0 40px #BEBEBE;
                box-shadow: 0 0 40px #BEBEBE;
    }
	
	.contact { 
				width: 750px;
				margin: 30px;
                border: 10px solid #FFFFFF;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                -moz-box-shadow: 0 0 40px #BEBEBE;
                -webkit-box-shadow: 0 0 40px #BEBEBE;
                box-shadow: 0 0 40px #BEBEBE;
    }
	
.texte { 
				padding: 20px;

    }
	
	
	
	.scroll {
    width: 780px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    width: 780px;
}
